.App {
    --header_height: 60px;
    max-width: 100rem;
    margin: 0 auto;
    padding: 0 50px 0 50px;
}


.hw {
    margin-top: 10px;
}

.hwTitle {
    font-size: 2.2rem;
    font-weight: 600;
    margin-top: 5rem;
}

.hw4{
    margin-top: 240px;
}